import init.black.usb.rc

on early-init

# create mountpoints
    mkdir /storage 0775 root system
    mkdir /storage/sdcard0 0000 system system
    symlink /storage/sdcard0 /sdcard

on init
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"

    export DSP_PATH /system/lib/dsp
    export DEFAULT_BASEIMAGE /system/lib/dsp/baseimage.dof
    export QOSDYN_FILE /system/lib/dsp/qosdyn_3430.dll64P
    export EXTERNAL_STORAGE /storage/sdcard0

    # 2012.07.03 youmi.jun : To fix issue when CAMERA IPP enabled
    symlink /system/lib /lib

    mkdir /sqlite_stmt_journals 01777 root root
    mount tmpfs tmpfs /sqlite_stmt_journals size=4m

#[LGE_start] hyunwoong.ahn
    mkdir /dvp 0771 system system
    mkdir /dvp/hwkey 0771 system system
    mkdir /dvp/userdata 0771 system system
#[LGE_end] hyunwoong.ahn

    chown system system /sys/class/leds/lcd-backlight/als

    # Increase readahead buffers on MMC devices
    write /sys/block/mmcblk0/bdi/read_ahead_kb 1024
    write /sys/block/mmcblk1/bdi/read_ahead_kb 1024

on fs
# mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount ext4 /dev/block/mmcblk0p8 /system ro noatime barrier=1 wait
    # We chown/chmod /data again so because mount is run as root + defaults
    mount ext4 /dev/block/mmcblk0p9 /data nosuid nodev noatime barrier=1 wait
    chown system system /data
    chmod 0771 /data

#[LGE_star]Hyunwoong.ahn^M
    mount ext3 /dev/block/mmcblk0p6 /dvp/hwkey nosuid nodev
    chown system system /dvp/hwkey
    chown system divxdrm /dvp/hwkey/key.hw
    chmod 0660 /dvp/hwkey/key.hw
    mount ext3 /dev/block/mmcblk0p6 /dvp/userdata nosuid nodev
    chown system divxdrm /dvp/userdata
    chmod 0770 /dvp/userdata
    chown system system /dev/block/mmcblk0p5
    chown system system /dev/block/mmcblk0p12
        chmod 0777 /dev/block/mmcblk0p5
        chmod 0777 /dev/block/mmcblk0p12

    mount ext4 /dev/block/mmcblk0p10 /cache nosuid nodev noatime barrier=1 wait

    mkdir /lgdrm 0770 lgdrm lgdrm_acc
    mount ext3 /dev/block/mmcblk0p5 /lgdrm nosuid nodev

on post-fs-data
    setprop vold.post_fs_data_done 1

    chmod 0777 /data/misc/wifi/config_mac
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0777 dhcp dhcp
    setprop wifi.supplicant_scan_interval 20
    setprop wifi.interface wlan0

on boot

    # Set mpu freq to 1GHz at boot time.
    write /sys/power/vdd1_opp 4
    #kernel debug
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # Enabling sleep in idle path
    write /sys/kernel/debug/pm_debug/sleep_while_idle 1

    # Enabling Voltage OFF in idle path
    write /sys/kernel/debug/pm_debug/voltage_off_while_idle 1

    # Enabling OFF mode
    write /sys/kernel/debug/pm_debug/enable_off_mode 1

    # Enable SmartReflex autocompensation on VDD1 & VDD2
    write /sys/kernel/debug/smartreflex/sr_core/autocomp 1
    write /sys/kernel/debug/smartreflex/sr_mpu_iva/autocomp 1

    # Lower maximum frequency when screen is off
        write /sys/devices/system/cpu/cpu0/cpufreq/screen_off_max_freq 600000

    # cpufreq interactive governor: timer 20ms, min sample 20ms, hispeed 800MHz
        write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
        write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 20000
        write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 800000

        #Enablig DVFS with ondemand governor
        write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
        write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000
        write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 60

        # 2012.08.06, mannsik.chung@lge.com, Backup scaling governor. For use at zygot restart by GC.
        # copy /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor_bak
        write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor_bak ondemand

        chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
        chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor_bak
    # autosuspend root hubs immediatly after attached devices
        write /sys/bus/usb/devices/usb1/power/autosuspend_delay_ms 0
        write /sys/bus/usb/devices/usb2/power/autosuspend_delay_ms 0

    # change permissions for alsa nodes
    symlink /dev/snd/pcmC0D0c /dev/pcmC0D0c
    symlink /dev/snd/pcmC0D0p /dev/pcmC0D0p
    symlink /dev/snd/controlC0 /dev/controlC0
    symlink /dev/snd/timer /dev/timer

    chown audio audio /dev/pcmC0D0c
    chown audio audio /dev/pcmC0D0p
    chown audio audio /dev/controlC0
    chown audio audio /dev/timer

    chmod 0777 /dev/controlC0
    chmod 0777 /dev/timer
    chmod 0777 /dev/snd/timer
    chmod 0777 /dev/snd/controlC0
    chmod 0777 /dev/snd/pcmC0D0c
    chmod 0777 /dev/snd/pcmC0D0p
    chmod 0777 /dev/snd/pcmC0D1c
    chmod 0777 /dev/snd/pcmC0D1p

# change permissions for modem
    chmod 0660 /dev/ttyspi0
    chown radio radio /dev/ttyspi0
    chmod 0660 /dev/ttyspi1
    chown radio radio /dev/ttyspi1
    
    # change permissions for bridge.  Symlink search directory
    chmod 0777 /dev/DspBridge

    # change permissions for Camera
    chmod 0777 /dev/video5
    chmod 0777 /dev/video0

# change permissions for Overlay
    chmod 0777 /dev/video1
    chmod 0777 /dev/video2

# TI Patch (If12e9caa) : permissions for isp resizer sysfs entries	
		chmod 0777 /sys/devices/platform/dsscomp/isprsz/enable

    chmod 0777 /dev/dsscomp
		chmod 0777 /dev/ion

# change permissions for overlay managers and display devices
    chmod 0777 /sys/devices/platform/omapdss/manager0/name
    chmod 0777 /sys/devices/platform/omapdss/manager1/name

    chmod 0777 /sys/devices/platform/omapdss/display0/name
    chmod 0777 /sys/devices/platform/omapdss/display1/name

    chmod 0777 /sys/devices/platform/omapdss/display0/enabled
    chmod 0777 /sys/devices/platform/omapdss/display1/enabled

    chmod 0777 /sys/devices/platform/omapdss/display1/timings
    chmod 0777 /sys/devices/platform/omapdss/display0/timings

    chmod 0777 /sys/devices/platform/omapdss/overlay0/manager
    chmod 0777 /sys/devices/platform/omapdss/overlay1/manager
    chmod 0777 /sys/devices/platform/omapdss/overlay2/manager

    chmod 0777 /sys/devices/platform/omapdss/overlay0/enabled
    chmod 0777 /sys/devices/platform/omapdss/overlay1/enabled
    chmod 0777 /sys/devices/platform/omapdss/overlay2/enabled

    # change permissions for Previewer and Resizer
    chmod 0777 /dev/omap-previewer
    chmod 0777 /dev/omap-resizer

    chmod 0777 /dev/video6
    chmod 0777 /dev/video10
    chmod 0777 /dev/omap-prev2resz

    # Set timeout value for rmnet stats.
    write /sys/devices/virtual/net/rmnet0/timeout_suspend 5000000


    # Permissions for setting the DSP Frequency
    chown media root /sys/power/dsp_freq


    # SGX driver
    chmod 0666 /dev/pvrsrvkm
    
     # change permission factory test
    chmod 0775 /proc/driver/hmuic
    chown system system /proc/driver/hmuic
    chmod 0644 /sys/devices/platform/i2c_omap.1/i2c-1/1-004a/twl4030_keypad/key_test_mode
    chown system system /sys/devices/platform/i2c_omap.1/i2c-1/1-004a/twl4030_keypad/key_test_mode
    
     #LED Permission is modified.
    	chmod 0664 /sys/devices/platform/omapdss/display0/name
	chmod 0664 /sys/devices/platform/omapdss/display1/name
	chmod 0664 /sys/devices/platform/omapdss/display0/enabled
	chmod 0664 /sys/devices/platform/omapdss/display1/enabled
	chmod 0664 /sys/devices/platform/omapdss/display0/timings
	chmod 0664 /sys/devices/platform/omapdss/display1/timings
	chmod 0644 /sys/devices/platform/omapdss/overlay0/manager
	chmod 0644 /sys/devices/platform/omapdss/overlay1/manager
	chmod 0644 /sys/devices/platform/omapdss/overlay2/manager
	chmod 0644 /sys/devices/platform/omapdss/overlay0/zorder
	chmod 0644 /sys/devices/platform/omapdss/overlay1/zorder
	chmod 0644 /sys/devices/platform/omapdss/overlay2/zorder
	chmod 0644 /sys/devices/platform/omapdss/overlay0/enabled
	chmod 0644 /sys/devices/platform/omapdss/overlay1/enabled
	chmod 0644 /sys/devices/platform/omapdss/overlay2/enabled
	chmod 0644 /sys/devices/platform/omapdss/manager0/display
	chmod 0644 /sys/devices/platform/omapdss/manager1/display
	chmod 0644 /sys/devices/platform/omapdss/manager0/trans_key_enabled
	chmod 0644 /sys/devices/platform/omapdss/manager1/trans_key_enabled
	chmod 0644 /sys/devices/platform/omapdss/manager0/trans_key_type
	chmod 0644 /sys/devices/platform/omapdss/manager1/trans_key_type
	chmod 0644 /sys/devices/platform/omapdss/manager0/trans_key_value
	chmod 0644 /sys/devices/platform/omapdss/manager1/trans_key_value
	chmod 0644 /sys/devices/platform/omapdss/manager0/alpha_blending_enabled
	chmod 0644 /sys/devices/platform/omapdss/manager1/alpha_blending_enabled
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/als_option
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/als_option
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/onoff
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/onoff
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/alsgain_control
	chown system system  /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/alsgain_control
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/als_control
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/als_control
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/als
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/als
	write /sys/devices/platform/omapdss/manager0/alpha_blending_enabled 1
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-0036/state
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0036/state
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x15
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x15
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x14
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x14  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x13
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x13  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x12
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x12  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x11
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x11  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x10
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x10  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0F
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0F  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0E
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0E  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0D
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0D 
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0C
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0C  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0B
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0B  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0A
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0A  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x09
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x09  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x08
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x08  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x07
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x07  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x06
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x06  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x05
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x05  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x04
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x04  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x03
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x03  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x02
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x02  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x01
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x01  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x00	
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x00  
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_brightness	
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_brightness 
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_sync
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_sync 
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_testmode	
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_testmode
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_onoff
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_onoff
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_start
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_start
	chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/blink_enable
	chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/blink_enable
	chmod 0664 /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-0020/fw
	chown system system /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-0020/fw
	chmod 0664 /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-0020/gripsuppression
	chown system system /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-0020/gripsuppression
# [START_CommonFramework] sunkyu.yun@lge.com 2012-06-08 light sensor
	chmod 0664 /sys/bus/i2c/devices/2-0060/leds/lcd-backlight/als_option
	chown system system /sys/bus/i2c/devices/2-0060/leds/lcd-backlight/als_option
	chmod 0664 /sys/bus/i2c/devices/2-0060/leds/lcd-backlight/onoff
	chown system system /sys/bus/i2c/devices/2-0060/leds/lcd-backlight/onoff
	chmod 0664 /sys/bus/i2c/devices/2-0060/leds/lcd-backlight/alsgain_control
	chown system system  /sys/bus/i2c/devices/2-0060/leds/lcd-backlight/alsgain_control
	chmod 0664 /sys/bus/i2c/devices/2-0060/leds/lcd-backlight/als_control
	chown system system /sys/bus/i2c/devices/2-0060/leds/lcd-backlight/als_control
	chmod 0664 /sys/bus/i2c/devices/2-0060/leds/lcd-backlight/als
	chown system system /sys/bus/i2c/devices/2-0060/leds/lcd-backlight/als
# [END_CommonFramework] sunkyu.yun@lge.com 2012-06-08 light sensor

# Sensor
    chown system system /dev/akm8973_daemon
	chown system system /dev/kxtf9_accel
    chown system system /dev/akm8973_aot
# LGE_CHANGE_S, ryu.seeyeol@lge.com, 2011-02-01, Sensors Porting (MPL V3.3 Release)
    chmod 0777 /dev/mpu
    chmod 0777 /dev/mpuirq
    chmod 0777 /dev/accelirq
    chmod 0777 /dev/timerirq
# LGE_CHANGE_E, ryu.seeyeol@lge.com, 2011-02-01, Sensors Porting (MPL V3.3 Release)
    chmod 0666 /dev/akm8973_daemon
    chmod 0666 /dev/akm8973_aot
	chmod 0666 /dev/kxtf9_accel
    chown system system /dev/motion_daemon
    chown system system /dev/accel_api
    chmod 0666 /dev/motion_daemon
    chmod 0666 /dev/accel_api
    chown system system /sys/devices/platform/motion_sensor/accel_onoff
    chown system system /sys/devices/platform/motion_sensor/accel_delay
    chown system system /sys/devices/platform/motion_sensor/compass_onoff
    chown system system /sys/devices/platform/motion_sensor/compass_delay
    chown system system /sys/devices/platform/motion_sensor/tilt_onoff
    chown system system /sys/devices/platform/motion_sensor/tilt_delay
    chown system system /sys/devices/platform/motion_sensor/gyro_onoff
    chown system system /sys/devices/platform/motion_sensor/gyro_delay
# [[ LGE_UBIQUIX_MODIFIED_START : shyun@ubiquix.com [2011.10.06] - Motion sensor permission is modified.
    chown system system /sys/devices/platform/motion_sensor/composite_onoff
    chown system system /sys/devices/platform/motion_sensor/composite_delay
# ]] LGE_UBIQUIX_MODIFIED_END : shyun@ubiquix.com [2011.10.06]- Motion sensor permission is modified.
# [[ LGE_UBIQUIX_MODIFIED_START : shyun@ubiquix.com [2011.09.28] - Motion sensor permission is modified.
	chown system system /sys/devices/platform/motion_sensor/cal_onoff
# ]] LGE_UBIQUIX_MODIFIED_END : shyun@ubiquix.com [2011.09.28]- Motion sensor permission is modified.
# [[ LGE_UBIQUIX_MODIFIED_START : shyun@ubiquix.com [2011.09.19] - Proximity sensor sysfs file path is modified.
    chown system system /sys/bus/i2c/drivers/black_proxi/3-0044/onoff
    chown system system /sys/bus/i2c/drivers/black_proxi/3-0044/delay
# ]] LGE_UBIQUIX_MODIFIED_END : shyun@ubiquix.com [2011.09.19]- Proximity sensor sysfs file path is modified.
    chown system system /sys/devices/platform/motion_sensor/shake_onoff
    chown system system /sys/bus/i2c/drivers/kxtf9/3-000f/shake_onoff
    chown system system /sys/devices/platform/motion_sensor/snap_onoff
    chown system system /sys/bus/i2c/drivers/kxtf9/3-000f/snap_onoff
    chown system system /sys/devices/platform/motion_sensor/flip_onoff
    chown system system /sys/bus/i2c/drivers/kxtf9/3-000f/flip_onoff
    chown system system /sys/devices/platform/motion_sensor/tap_onoff
    chown system system /sys/bus/i2c/drivers/kxtf9/3-000f/tap_onoff
    chown system system /sys/devices/platform/motion_sensor/yawimage_onoff
    chown system system /sys/devices/platform/i2c-gpio.7/i2c-adapter/i2c-7/7-001c/checkresult
    chown system system /sys/devices/platform/i2c-gpio.7/i2c-adapter/i2c-7/7-001c/checkopmode
# [[ LGE_UBIQUIX_MODIFIED_START : shyun@ubiquix.com [2011.09.19] - Sensors Permission is modified. For CTS Fail.
    chmod 0664 /sys/devices/platform/motion_sensor/accel_onoff
    chmod 0664 /sys/devices/platform/motion_sensor/accel_delay
    chmod 0664 /sys/devices/platform/motion_sensor/compass_onoff
    chmod 0664 /sys/devices/platform/motion_sensor/compass_delay
    chmod 0664 /sys/devices/platform/motion_sensor/tilt_onoff
    chmod 0664 /sys/devices/platform/motion_sensor/tilt_delay
    chmod 0664 /sys/devices/platform/motion_sensor/gyro_onoff
    chmod 0664 /sys/devices/platform/motion_sensor/gyro_delay
# [[ LGE_UBIQUIX_MODIFIED_START : shyun@ubiquix.com [2011.09.19] - Proximity sensor sysfs file path is modified.
    chmod 0664 /sys/bus/i2c/drivers/black_proxi/3-0044/onoff
    chmod 0664 /sys/bus/i2c/drivers/black_proxi/3-0044/delay
# ]] LGE_UBIQUIX_MODIFIED_END : shyun@ubiquix.com [2011.09.19]- Proximity sensor sysfs file path is modified.
    chmod 0664 /sys/devices/platform/motion_sensor/shake_onoff
    chmod 0664 /sys/bus/i2c/drivers/kxtf9/3-000f/shake_onoff
    chmod 0664 /sys/devices/platform/motion_sensor/snap_onoff
    chmod 0664 /sys/bus/i2c/drivers/kxtf9/3-000f/snap_onoff
    chmod 0664 /sys/devices/platform/motion_sensor/flip_onoff
    chmod 0664 /sys/bus/i2c/drivers/kxtf9/3-000f/flip_onoff
    chmod 0664 /sys/devices/platform/motion_sensor/tap_onoff
    chmod 0664 /sys/bus/i2c/drivers/kxtf9/3-000f/tap_onoff
    chmod 0664 /sys/devices/platform/motion_sensor/yawimage_onoff
# ]] LGE_UBIQUIX_MODIFIED_END : shyun@ubiquix.com [2011.09.19]- Sensors Permission is modified. For CTS Fail.

    # Batt gauge error detection
    chown radio system /sys/bus/platform/drivers/twl4030_bci/twl4030_bci/gauge_if
    chmod 0664 /sys/bus/platform/drivers/twl4030_bci/twl4030_bci/gauge_if
    
    #modify soc-audio permission
    chown system system /sys/devices/platform/soc-audio/codec_reg
    chown system system /sys/bus/i2c/drivers/wm9093/2-006e/wm9093_data
    chown system system /sys/devices/platform/soc-audio/IFX_CALL/codec_reg 
    chown system system /sys/devices/platform/soc-audio/TWL4030_FM/codec_reg
    chown system system /sys/devices/platform/soc-audio/TWL4030_I2S/codec_reg
    chown system system /sys/devices/platform/soc-audio/TWL4030_PCM/codec_reg
    chmod 771 /sys/devices/platform/soc-audio/IFX_CALL/codec_reg 
    chmod 644 /sys/devices/platform/soc-audio/TWL4030_FM/codec_reg
    chmod 644 /sys/devices/platform/soc-audio/TWL4030_I2S/codec_reg
    chmod 644 /sys/devices/platform/soc-audio/TWL4030_PCM/codec_reg
    
    # ALS
    chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/als
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/als

## OLD

    chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/als
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0060/leds/lcd-backlight/als

    # Batt gauge error detection
    chmod 0666 /sys/bus/platform/drivers/twl4030_bci/twl4030_bci/gauge_if

    # Enabling sleep in idle path
    write /sys/power/sleep_while_idle 1

    # Enabling Off mode
    write /sys/power/enable_off_mode 1

    # Enabling voltage off while idle
    write /sys/power/voltage_off_while_idle 1

    # Permissions for setting the DSP Frequency
    chown media root /sys/power/dsp_freq
    chown media system /sys/devices/platform/omap3isp/isp_reserve
    chown media media /sys/devices/platform/omapdss/manager0/dmb_coefs

# gps permissions
    chown system system /sys/devices/platform/hub_gps_gpio/poweron
    chown system system /sys/devices/platform/hub_gps_gpio/reset
    mkdir /data/gps
    chmod 777 /data/gps
    mkdir /data/gps/var
    chmod 777 /data/gps/var
    mkdir /data/gps/var/run
    chmod 777 /data/gps/var/run
    mkdir /data/gps/log
    chmod 777 /data/gps/log
    mkdir /data/cache
    chmod 777 /data/cache

    ## Torch perms
    chown system camera /sys/class/leds/rt8515/brightness
    chmod 0660 /sys/class/leds/rt8515/brightness

    ## liblights
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/onoff
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_brightness
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_onoff
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/led_sync
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/blink_enable
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x06
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x07
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0D
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0E
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x10
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x11
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x03
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x04
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x09
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x0A
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x13
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-001a/0x14

# bluetooth permissions
    chmod 0660 /dev/ttyHS2
    chown bluetooth bluetooth /dev/ttyHS2
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chmod 0660 /sys/class/rfkill/rfkill1/type

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/type
    chmod 0666 /sys/devices/platform/bd_address/bdaddr_if
    write /sys/class/rfkill/rfkill0/state 0

service prb /sbin/prb
    user root
    disabled
    oneshot
    keycodes 114 116

service pvrsrvinit /system/bin/pvrsrvinit
    class core
        user root
        oneshot

# load DSP firmware
service baseimage /system/bin/cexec.out /system/lib/dsp/baseimage.dof
    class core
    user root
    group audio
    oneshot

service fw3a /system/bin/fw3a_core
    class main
    user media
    group system camera

service glgps /system/bin/glgps -c /system/etc/gps_brcm_conf.xml
    class core
    user system
    group system

on property:dev.bootcomplete=1
    write /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-001a/blink_enable 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    #write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/up_threshold 90
    #write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/sampling_rate 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/turn_on_lg_dvfs 1
    start setcpversion

service dhcpcd_wlan0 /system/bin/dhcpcd -BKAL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n wlan0
    class main
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_wlan0

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf 
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 3000000 --patchram /etc/firmware/BCM43291A0_003.001.013.0066.xxxx_B-Project.hcd /dev/ttyO1
    user bluetooth
    class main
    group bluetooth net_bt_admin
    disabled

service rawip_vsnet1 /system/bin/init.vsnet 1
   user root
   group radio cache inet misc
   disabled
   oneshot

service rawip_vsnet2 /system/bin/init.vsnet 2
   user root
   group radio cache inet misc
   disabled
   oneshot

service vsnet1_down /system/bin/init.vsnet-down 1
   user root
   group radio cache inet misc
   disabled
   oneshot

service vsnet2_down /system/bin/init.vsnet-down 2
   user root
   group radio cache inet misc
   disabled
   oneshot

service wlan_precheck /system/bin/wlan-precheck
    class core
    oneshot

service motion /system/bin/motion
    class main
    user compass
    group system

service setcpversion /system/bin/lgcpversion
    class main
    oneshot

service charger /charger
    class charger
    user root
    group root
    oneshot
