#for DSSCOMP
/dev/dsscomp              0666   system     system

/dev/pvrsrvkm	   0666	  root	    root
/dev/block/mmcblk0p1      0640   root       system
/dev/block/mmcblk0p2      0640   root       system
/dev/block/mmcblk0p3      0640   root       system
/dev/block/mmcblk0p4      0640   root       system
/dev/block/mmcblk0p11     0660   root       system
/dev/block/mmcblk0p12     0660   root       system

/dev/ttyHS0               0600   bluetooth  bluetooth
/dev/qemu_trace           0666   system     system

# CDMA radio interface MUX
/dev/tun                  0640   vpn        vpn

# LGE RIL porting
/dev/ttyspi*   			  0660   radio      radio
/dev/pts*				  0660   radio   	radio

/dev/tspdrv              0666   system  system

/dev/ttyO0 0600 system system
/dev/ttyO1 0660 bluetooth bluetooth
